.frame-selector{

margin-top:35px;
}

.frame-selector h3{

font-size:24px;

color:#0f172a;

margin-bottom:20px;

font-weight:700;
}


/* GRID */

.frame-grid{

display:grid;

grid-template-columns:

repeat(
3,
1fr
);

gap:18px;
}


/* CARD */

.frame-card{

background:white;

padding:18px;

border:2px solid
#e2e8f0;

border-radius:22px;

cursor:pointer;

text-align:center;

transition:.3s;

box-shadow:

0 8px 20px

rgba(
0,
0,
0,
0.04
);

}

.frame-card:hover{

transform:

translateY(-5px);

border-color:
#8b5cf6;
}

.frame-card.active{

border-color:
#8b5cf6;

background:

linear-gradient(

to bottom right,

#f5f3ff,

#ede9fe

);

box-shadow:

0 12px 25px

rgba(
139,
92,
246,
0.15
);
}


/* PREVIEW */

.frame-preview{

height:70px;

border-radius:16px;

display:flex;

justify-content:center;

align-items:center;

margin-bottom:12px;

font-size:30px;

font-weight:700;

background:

linear-gradient(

to bottom right,

#f8fafc,

#e2e8f0

);

}


/* PRE BUILT FRAMES */

.frame-card:nth-child(1)
.frame-preview{

border:
4px solid white;
}

.frame-card:nth-child(2)
.frame-preview{

border-radius:
30px;

border:
4px solid white;
}

.frame-card:nth-child(3)
.frame-preview{

border:
4px dashed
#0f172a;
}

.frame-card:nth-child(4)
.frame-preview{

border-radius:
50%;
}

.frame-card:nth-child(5)
.frame-preview{

border:
4px solid gold;
}

.frame-card:nth-child(6)
.frame-preview{

box-shadow:

0 10px 20px

rgba(
0,
0,
0,
0.15
);
}


/* TEXT */

.frame-card p{

font-size:15px;

font-weight:600;

color:#334155;

margin:0;
}


/* RESPONSIVE */

@media(max-width:768px){

.frame-grid{

grid-template-columns:

repeat(
2,
1fr
);

}

}

@media(max-width:500px){

.frame-grid{

grid-template-columns:
1fr;
}

.frame-preview{

height:60px;

font-size:24px;
}

}